# Toby Sax
## week 7 - 10/3/23
### Python List Comprehension

**List comprehension Format:**

<code> new_list = [expression for member in iterable] </code>

**Using conditional Logic:**

<code> new_list = [Expression for member in iterable (if conditional)</code>
<code> new_list = [expression (if conditional) for member of iterable] </code>

In [5]:
lst = []

for letter in 'helloCIS310':
    lst.append(letter)
    
lst

['h', 'e', 'l', 'l', 'o', 'C', 'I', 'S', '3', '1', '0']

In [6]:
#[expression for item in iterable]
lst = [letter for letter in 'helloCIS310']

In [7]:
lst

['h', 'e', 'l', 'l', 'o', 'C', 'I', 'S', '3', '1', '0']

In [8]:
squares = []
for n in range(0,11):
    squares.append(n*n)
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
squares = [n*n for n in range(0,11)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
#[expression for member in iterable (if conditional)]
squares = [n**2 for n in range(0,11) if (n%2 == 0)]
squares

[0, 4, 16, 36, 64, 100]

In [17]:
lst = [n for n in range(0,101) if (n%5==0 and n%2==0)]
lst

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

**The genreal format of Python while loops:**
    
<code>while test:
        satements</code>

In [22]:
n=1
while n<=6:
    print(n)
    n+=1

1
2
3
4
5
6

In [24]:
n = 1
s = 0
while n<=10:
    #print(n)
    s += n
    n+=1
    
print('Sum = ', s)

Sum =  55

In [28]:
lst = [1,2,3,4]
n=0
sum=0
while n<len(lst):
    print(lst[n])
    s+=lst[n]
    n+=1
    
print('Sum =',s)

1
2
3
4
Sum = 65

In [29]:
n=0
s=0
while n<10:
    #print(n)
    if n%2 !=0:
        s+=n
    else:
        print(f'{n} is even number')
    n+=1

print('Sum of odd numbers = ',s)

0 is even number
2 is even number
4 is even number
6 is even number
8 is even number
Sum of odd numbers =  25

In [33]:
n=0
s=0
while n<10:
    #print(n)
    if n%2 !=0:
        s+=n
    else:
        print(f'{n} is even number')
    n+=1

print(f'Sum of odd number is {s}!')

0 is even number
2 is even number
4 is even number
6 is even number
8 is even number
Sum of odd number is 25!

In [35]:
a = 'cis310DataAnalytics'

i = 0
while i< len(a):
    print(a[i])
    i+=1

c
i
s
3
1
0
D
a
t
a
A
n
a
l
y
t
i
c
s

In [44]:
a = 'cis310DataAnalytics'

i = 0
while i< len(a):
    print(a[i], end=" ")
    i+=1

c i s 3 1 0 D a t a A n a l y t i c s

In [45]:
#continue means to skip this iteration
#break stops the loop

In [47]:
#break the loop as it sees a condition
i = 0
while i<len(a):
    if a[i] == 'a' or a[i] == '1':
        i+=1
        break
    print(a[i], end = ' ')
    i+=1

c i s 3

In [49]:
i = 0
while i<len(a):
    if a[i] == 'a' or a[i] == '1':
        i+=1
        continue
    print(a[i], end = ' ')
    i+=1

c i s 3 0 D t A n l y t i c s

In [53]:
#loops based on the user input

user_num = int(input('Enter a number (-1 to quit): '))

s = 0
while user_num != -1:
    s+=user_num
    user_num = int(input('Enter a number (-1 to quit): '))
else:
    print(f'The sum of all values = {s}')

Enter a number (-1 to quit): 12
Enter a number (-1 to quit): 13
Enter a number (-1 to quit): 14
Enter a number (-1 to quit): 15
Enter a number (-1 to quit): 6
Enter a number (-1 to quit): -1
The sum of all values = 60

In [56]:
colors = ['red', 'green', 'blue', 'purple']

i = 0
while i<len(colors):
    print(colors[i], end= " ")
    i+=1

red green blue purple

In [2]:
sentence = 'CIS310 communicate students with analytical thinking'
vowels_letters = 'aeiou'
lst = [letter for letter in sentence if letter in vowels_letters]
lst

['o', 'u', 'i', 'a', 'e', 'u', 'e', 'i', 'a', 'a', 'i', 'a', 'i', 'i']

In [ ]:
#mistake cell

In [3]:
sentence = 'Studies found that the financial impact of the poor-quality data cost $3.1 Trillion min 2016'
lst = [letter for letter in sentence if letter.isalpha() and letter.islower()]
lst

['t',
 'u',
 'd',
 'i',
 'e',
 's',
 'f',
 'o',
 'u',
 'n',
 'd',
 't',
 'h',
 'a',
 't',
 't',
 'h',
 'e',
 'f',
 'i',
 'n',
 'a',
 'n',
 'c',
 'i',
 'a',
 'l',
 'i',
 'm',
 'p',
 'a',
 'c',
 't',
 'o',
 'f',
 't',
 'h',
 'e',
 'p',
 'o',
 'o',
 'r',
 'q',
 'u',
 'a',
 'l',
 'i',
 't',
 'y',
 'd',
 'a',
 't',
 'a',
 'c',
 'o',
 's',
 't',
 'r',
 'i',
 'l',
 'l',
 'i',
 'o',
 'n',
 'm',
 'i',
 'n']

In [4]:
lst = [letter for letter in sentence if letter.isalpha() and letter.isupper()]
lst

['S', 'T']

In [11]:
prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]
new_prices = [value if value >=0 else 0 for value in prices]
new_prices

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [13]:
lst = ['Even' if n%2==0 else 'Odd' for n in range(0,11)]
lst

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even']

In [19]:
txns = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = .08
final_price = [i * (1+ .08) for i in txns]
final_price

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

In [21]:
#nested list comprehension
lst = [n**2 for n in [num for num in range (21) if num%2==0]]
lst

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [23]:
#using set and dictionary comprehensions
s = 'data preparation consumes an amount of time (up to 80%) spent on analytics'
unique_vowels = {l for l in s if l in 'aeiou'}
unique_vowels

{'a', 'e', 'i', 'o', 'u'}

In [27]:
dc = {n:n**2 for n in range(11)}
dc

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [31]:
cities = ['Austin', 'Tacoma', 'Topeka', 'Sacramento', 'Charlotte']
weather = {city:[n for n in range(50,61)] for city in cities}
weather

{'Austin': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 'Tacoma': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 'Topeka': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 'Sacramento': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 'Charlotte': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]}

In [34]:
from random import randint

cities = ['Austin', 'Tacoma', 'Topeka', 'Sacramento', 'Charlotte']
weather = {city:randint(50,60) for city in cities}
weather

{'Austin': 60, 'Tacoma': 51, 'Topeka': 58, 'Sacramento': 53, 'Charlotte': 56}

In [51]:
l = [1,2,1,2,3,4,5,6,2]
d = {1: 'yes', 2: 'no'}
lst = [d.get(num, 'idle') for num in l]
lst

['yes', 'no', 'yes', 'no', 'idle', 'idle', 'idle', 'idle', 'no']

In [52]:
d.get(5, 'Idle')

'Idle'

In [55]:
l = [1,2,3,4,5,2,3,4,1,2,1]
lst = ['yes' if n ==1 else 'no' if n==2 else 'idle' for n in l]
lst

['yes', 'no', 'idle', 'idle', 'idle', 'no', 'idle', 'idle', 'yes', 'no', 'yes']