# Toby Sax
## week 7 10/5/23
### python functions

In [1]:
def welcome():
    print('Welcome to CIS310!')

In [2]:
welcome()

Welcome to CIS310!

In [3]:
#funtion with parameters
def fun_greet(name):
    '''
    This function greets a person name passed as a parameter
    '''
    print(f'Hello, {name}, welcome to CIS310!')

In [4]:
fun_greet('Alice')

Hello, Alice, welcome to CIS310!

In [5]:
fun_greet('Bob')

Hello, Bob, welcome to CIS310!

In [8]:
print(fun_greet.__doc__)

    This function greets a person name passed as a parameter

In [1]:
#Using return and args
def sum_nums(n1,n2):
    s = n1 + n2
    return s

In [2]:
sum_nums(5,8)

13

In [3]:
def avg_nums(n1,n2,n3):
   return (n1+n2+n3)/3

In [7]:
print(f'Average of 3, 5, 8 is {round(avg_nums(3,5,8), 2)}')

Average of 3, 5, 8 is 5.33

In [9]:
#min_two_odds(3,5) --> 3
#min_two_odds(4,9) --> 9

def min_two_odds(num1,num2):
    if num1 % 2 != 0 and num2 % 2 != 0:
        return min(num1,num2)
    else:
        return max(num1,num2)

In [10]:
min_two_odds(9,7)

7

In [11]:
min_two_odds(8,3)

8

In [13]:
#find a number is prime

def is_prime(n):
    for v in range (2,n):
        if n % v == 0:
            return str(n) + ' is not prime'
        
    return str(n) + ' is prime'

In [14]:
is_prime(16)

'16 is not prime'

In [15]:
is_prime(7)

'7 is prime'

In [17]:
#check if two-word string starts with the same letter

txt = 'Python Program'
lst = txt.split()
lst

['Python', 'Program']

In [20]:
lst[0][0]

'P'

In [21]:
lst[0][0] == lst[1][0]

True

In [25]:
def two_words_letters(txt):
    wList = txt.split()
    word1 = wList[0]
    word2 = wList[1]
    return word1[0] == word2[0]

In [26]:
two_words_letters(txt)

True

In [27]:
two_words_letters('Java Program')

False

In [28]:
#reverse a statment
str1 = 'I am home'
lst = str1.split()

In [29]:
lst

['I', 'am', 'home']

In [30]:
lst[::-1]

['home', 'am', 'I']

In [34]:
','.join(lst[::-1])

'home,am,I'

In [37]:
def rv_stmt(txt):
    #lst = txt.split()
    return ' '.join(txt.split()[::-1])

In [38]:
rv_stmt(str1)

'home am I'

In [44]:
#check if a list has number 5 next to number 5 somewherer in the list
#[3,4,5,5,10] -> true
#[4,3,5,6,5,8] -> false

def has_55(lst):
    for i in range(0, len(lst)-1):
        #if lst[i] == 5 and lst[i+1] == 5:
        if lst[i:i+2] == [5,5]:
            return True
    else:
        return False

In [45]:
has_55([3,4,5,5,10])

True

In [46]:
has_55([4,3,5,6,5,8])

False

In [47]:
# number of arguments
def sum_nums(a,b):
    return sum((a,b))

In [48]:
sum_nums(5,6)

11

In [49]:
sum_nums(5)

TypeError: sum_nums() missing 1 required positional argument: 'b'

In [50]:
def sum_nums(*n):
    return sum(n)

In [51]:
sum_nums(5,6)

11

In [52]:
sum_nums(5,6,8,9,10)

38

In [53]:
sum_nums(5)

5

In [56]:
#Defaul Parameter value
def my_country(name='USA'):
    print('I am from ' + name)

In [57]:
my_country('Italy')
my_country('India')
my_country()
my_country('Brazil')

I am from Italy
I am from India
I am from USA
I am from Brazil

In [58]:
#Keyword Arguments
def my_kids(child1, child2, child3):
    print(f"my first child '{child1}', my secound child '{child2}', my third child '{child3}'")

In [59]:
my_kids('Emil', 'Jon', 'Alice')

my first child 'Emil', my secound child 'Jon', my third child 'Alice'

In [60]:
my_kids('Jon','Emil', 'Alice')

my first child 'Jon', my secound child 'Emil', my third child 'Alice'

In [62]:
#the order of the parameters
my_kids(child2 = 'Jon',child1 = 'Emil', child3='Alice')

my first child 'Emil', my secound child 'Jon', my third child 'Alice'

In [63]:
my_kids( child3='Alice', child2 = 'Jon',child1 = 'Emil')

my first child 'Emil', my secound child 'Jon', my third child 'Alice'