# Toby Sax
## week 3 - 9/7/20203 - 9/12/23
### built in data Structures - Python Lists []

In [1]:
# lists are used to store multiple iteams with differents types in a single variable.
# lists are created using square brackets
# list iteams are ordered, changable, and allow duplicate values

In [2]:
my_list = [50, 55, 60, 80 ,90]

In [3]:
my_list

[50, 55, 60, 80, 90]

In [4]:
type(my_list)

list

In [5]:
my_list = [50, 80, 90, 'Alice', 'Bob', 3.55, 6.8, True, False]

In [6]:
my_list

[50, 80, 90, 'Alice', 'Bob', 3.55, 6.8, True, False]

In [7]:
print(my_list)

[50, 80, 90, 'Alice', 'Bob', 3.55, 6.8, True, False]

In [8]:
len(my_list)

9

In [9]:
fruits = ['Apple', 'Cherry', 'Kiwi', 'Lemon']

In [10]:
# access to list values
fruits [1]

'Cherry'

In [11]:
fruits[0]

'Apple'

In [12]:
fruits[-1]

'Lemon'

In [13]:
fruits[-2]

'Kiwi'

In [14]:
fruits

['Apple', 'Cherry', 'Kiwi', 'Lemon']

In [15]:
my_list

[50, 80, 90, 'Alice', 'Bob', 3.55, 6.8, True, False]

In [16]:
my_list[3]

'Alice'

In [17]:
#slicing
#[start:End:Stop]
my_list[1:3]

[80, 90]

In [19]:
my_list[:4]

[50, 80, 90, 'Alice']

In [20]:
my_list[::]

[50, 80, 90, 'Alice', 'Bob', 3.55, 6.8, True, False]

In [21]:
my_list

[50, 80, 90, 'Alice', 'Bob', 3.55, 6.8, True, False]

In [22]:
#reverse listing or indexing
my_list[-1]

False

In [23]:
my_list[-2]

True

In [24]:
my_list[-3:-1]

[6.8, True]

In [25]:
my_list

[50, 80, 90, 'Alice', 'Bob', 3.55, 6.8, True, False]

In [26]:
my_list[-3:]

[6.8, True, False]

In [27]:
my_list

[50, 80, 90, 'Alice', 'Bob', 3.55, 6.8, True, False]

In [28]:
my_list[0] = 100

In [29]:
my_list

[100, 80, 90, 'Alice', 'Bob', 3.55, 6.8, True, False]

In [30]:
my_list[3] = 'Toby'

In [31]:
my_list

[100, 80, 90, 'Toby', 'Bob', 3.55, 6.8, True, False]

In [32]:
my_list[-1] = [1, 2, 3]

In [33]:
my_list

[100, 80, 90, 'Toby', 'Bob', 3.55, 6.8, True, [1, 2, 3]]

In [34]:
my_list[-1:]

[[1, 2, 3]]

In [35]:
#Adding new element to list using +
fruits

['Apple', 'Cherry', 'Kiwi', 'Lemon']

In [36]:
fruits + ['Orange']

['Apple', 'Cherry', 'Kiwi', 'Lemon', 'Orange']

In [37]:
fruits

['Apple', 'Cherry', 'Kiwi', 'Lemon']

In [38]:
fruits = fruits + ['Orange']

In [39]:
fruits

['Apple', 'Cherry', 'Kiwi', 'Lemon', 'Orange']

In [40]:
#double the list using *
fruits * 2

['Apple',
 'Cherry',
 'Kiwi',
 'Lemon',
 'Orange',
 'Apple',
 'Cherry',
 'Kiwi',
 'Lemon',
 'Orange']

In [41]:
#use the built-in functions
# to add new values to the end of the list, use append() method.
fruits

['Apple', 'Cherry', 'Kiwi', 'Lemon', 'Orange']

In [42]:
fruits.append('Grape')

In [43]:
fruits

['Apple', 'Cherry', 'Kiwi', 'Lemon', 'Orange', 'Grape']

In [44]:
#you can merge one list into another by using extend() method
list = ['a', 'b', 'cc', 'd']

In [45]:
list

['a', 'b', 'cc', 'd']

In [52]:
list.extend([1, 2, 3, True, False, "Alice"])

In [53]:
list

['a',
 'b',
 'cc',
 'd',
 1,
 2,
 3,
 True,
 False,
 ':Alice',
 1,
 2,
 3,
 True,
 False,
 'Alice',
 1,
 2,
 3,
 True,
 False,
 'Alice']

In [54]:
list

['a',
 'b',
 'cc',
 'd',
 1,
 2,
 3,
 True,
 False,
 ':Alice',
 1,
 2,
 3,
 True,
 False,
 'Alice',
 1,
 2,
 3,
 True,
 False,
 'Alice']

In [55]:
#pop in place function
# if you know the index of the item you want, you can use the pop() method. It modifiesa the list qne returns removed item
fruits

['Apple', 'Cherry', 'Kiwi', 'Lemon', 'Orange', 'Grape']

In [56]:
fruits.pop(0)

'Apple'

In [57]:
fruits

['Cherry', 'Kiwi', 'Lemon', 'Orange', 'Grape']

In [59]:
fruits.pop(-2)

'Orange'

In [60]:
fruits

['Cherry', 'Kiwi', 'Lemon', 'Grape']

In [61]:
fruits.pop()

'Grape'

In [62]:
fruits

['Cherry', 'Kiwi', 'Lemon']

In [64]:
len(fruits)

3

In [69]:
fruits.pop(3)

IndexError: pop index out of range

In [70]:
#if you dont need the removed value use the del statement
list

['a',
 'b',
 'cc',
 'd',
 1,
 2,
 3,
 True,
 False,
 ':Alice',
 1,
 2,
 3,
 True,
 False,
 'Alice',
 1,
 2,
 3,
 True,
 False,
 'Alice']

In [71]:
del list[-1]

In [72]:
list

['a',
 'b',
 'cc',
 'd',
 1,
 2,
 3,
 True,
 False,
 ':Alice',
 1,
 2,
 3,
 True,
 False,
 'Alice',
 1,
 2,
 3,
 True,
 False]

In [73]:
del list[9:]

In [74]:
list

['a', 'b', 'cc', 'd', 1, 2, 3, True, False]

In [75]:
#sort element, in place function
ch_list = ['c', 'r', 'a', 'e', 'b']

In [76]:
ch_list.sort()

In [77]:
ch_list

['a', 'b', 'c', 'e', 'r']

In [78]:
ch_list.reverse()

In [79]:
ch_list

['r', 'e', 'c', 'b', 'a']

In [81]:
ch_list.insert(1, 100)

In [82]:
ch_list

['r', 100, 'e', 'c', 'b', 'a']

In [83]:
#nested list
list1=[90, 80, 70]
list2 = [60, 50, 40]
list3 = [40, 30, 20]

In [84]:
nested_list = [list1, list2, list3]

In [85]:
list1

[90, 80, 70]

In [86]:
list2

[60, 50, 40]

In [87]:
list3

[40, 30, 20]

In [88]:
nested_list

[[90, 80, 70], [60, 50, 40], [40, 30, 20]]

In [89]:
nested_list[0]

[90, 80, 70]

In [90]:
nested_list[1]

[60, 50, 40]

In [91]:
nested_list[2]

[40, 30, 20]

In [92]:
nested_list[-1]

[40, 30, 20]

In [93]:
list1[2]

70

In [95]:
nested_list[0][-1]

70

In [96]:
nested_list[2][1]

30