# Toby Sax
## Week 6 - 9/28/23
### Python For Loops

**General for loops format:**

<code>for item in objects:
    statements to do work </code>

In [1]:
sc = [68,87,89,90,92,78,88,75,79,85]

for n in sc:
    print("n = ", n)

n =  68
n =  87
n =  89
n =  90
n =  92
n =  78
n =  88
n =  75
n =  79
n =  85

In [2]:
#print even and odd numbers in the list
4%2

0

In [3]:
5 % 2

1

In [4]:
for n in sc:
    if n % 2 == 0:
        print("n = ", n)

n =  68
n =  90
n =  92
n =  78
n =  88

In [5]:
for n in sc:
    if n % 2 != 0:
        print("n = ", n)

n =  87
n =  89
n =  75
n =  79
n =  85

In [6]:
for n in sc:
    if n % 2 == 0:
        print("n = ", n)
    else:
        print(n, ' Odd Number')

n =  68
87  Odd Number
89  Odd Number
n =  90
n =  92
n =  78
n =  88
75  Odd Number
79  Odd Number
85  Odd Number

In [7]:
#get the sum of scores in the sc list

sc_sum = 0

for n in sc:
    sc_sum += n # SC_SUM = sc_sum + n
    
print(f"Total of values {sc_sum}")

Total of values 831

In [8]:
sc_sum = 0

for n in sc:
    if n % 2 == 0:
        sc_sum += n
    
print(f"Total of even values is {sc_sum}")

Total of even values is 416

In [9]:
sc_sumeven = 0
sc_sumodd = 0

for n in sc:
    if n % 2 == 0:
        sc_sumeven += n 
    else:
        sc_sumodd += n
    
print(f"Total of even values is {sc_sumeven} and the total of odd values is {sc_sumodd}")

Total of even values is 416 and the total of odd values is 415

In [10]:
sc_sum = 0

for n in sc:
    sc_sum += n
    
print(f'Average of values {sc_sum/len(sc)}')

Average of values 83.1

In [11]:
sum(sc)

831

In [12]:
for letter in 'I am a student in CIS310!':
    print(letter)

I

a
m

a

s
t
u
d
e
n
t

i
n

C
I
S
3
1
0
!

In [13]:
for letter in 'I am a student in CIS310!':
    if not letter.isspace():
        print(letter)

I
a
m
a
s
t
u
d
e
n
t
i
n
C
I
S
3
1
0
!

In [14]:
for letter in 'I am a student in CIS310!':
    if letter.isupper():
        print(letter)

I
C
I
S

In [15]:
lst1 = [10,30,50,70,90]
lst2 = [20,40,60,80,100]

lst = list(zip(lst1,lst2))

In [16]:
lst

[(10, 20), (30, 40), (50, 60), (70, 80), (90, 100)]

In [17]:
for t in lst:
    print(t)

(10, 20)
(30, 40)
(50, 60)
(70, 80)
(90, 100)

In [18]:
for (t1,t2) in lst:
    print(t1)
    #print(t2)

10
30
50
70
90

In [19]:
d = {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
d

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [20]:
list(d.items())

[('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)]

In [21]:
list(d.values())

['Ford', 'Mustang', 1964]

In [22]:
tuple(d.keys())

('brand', 'model', 'year')

In [23]:
for item in d:
    print(item)

brand
model
year

In [24]:
for k,v in d.items():
    print(k,v)

brand Ford
model Mustang
year 1964

In [25]:
for k in d.keys():
    print(k)

brand
model
year

In [26]:
for v in d.values():
    print(v)

Ford
Mustang
1964

In [27]:
# break and continue
fruits = ['Apple', 'Grape', 'Orange', 'Banana', 'Cherry']
fruits

['Apple', 'Grape', 'Orange', 'Banana', 'Cherry']

In [28]:
for f in fruits:
    print(f)

Apple
Grape
Orange
Banana
Cherry

In [29]:
for f in fruits:
    if f == 'Banana':
        break
    print(f)

Apple
Grape
Orange

In [30]:
for f in fruits:
    if f == 'Banana':
        continue
    print(f)

Apple
Grape
Orange
Cherry

In [31]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
for n in range(10):
    print(n)

0
1
2
3
4
5
6
7
8
9

In [33]:
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [34]:
for n in range(1,31):
    print(n)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [35]:
for n in range(1,31,2):
    print(n)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [36]:
# how to loop with indexes in python
len(sc)

10

In [37]:
len(fruits)

5

In [38]:
range(5)

range(0, 5)

In [39]:
list(range(5))

[0, 1, 2, 3, 4]

In [40]:
for index in range(len(fruits)):
    print(index, fruits[index])

0 Apple
1 Grape
2 Orange
3 Banana
4 Cherry

In [41]:
for index in range(len(fruits)):
    print(f'fruit at index {index}, is {fruits[index]}')

fruit at index 0, is Apple
fruit at index 1, is Grape
fruit at index 2, is Orange
fruit at index 3, is Banana
fruit at index 4, is Cherry

In [42]:
fruits

['Apple', 'Grape', 'Orange', 'Banana', 'Cherry']

In [43]:
for fruit in fruits.reverse():
    print(fruit)

TypeError: 'NoneType' object is not iterable

In [ ]:
fruits.reverse()

In [ ]:
fruits

In [ ]:
for fruit in fruits:
    print(fruit)

In [45]:
 #enumerates retrieves both the index and the value of each item in the list
for index, item in enumerate(fruits):
    print(f'fruit at index {index}, is {item}')

fruit at index 0, is Cherry
fruit at index 1, is Banana
fruit at index 2, is Orange
fruit at index 3, is Grape
fruit at index 4, is Apple

In [48]:
#what if we need to loop over multiple things? without nested loop
colors = ['red', 'green', 'blue', 'purple']
ratios = [0.2, 0.3, 0.1, 0.4]

lst = []
for index, item in enumerate(colors):
    lst.append((item, ratios[index]*100))

In [49]:
lst

[('red', 20.0), ('green', 30.0), ('blue', 10.0), ('purple', 40.0)]